<div class="container">
  <div class="col-md-5">
    <div class="form-area">
      <div class="panel panel-default">

        <div class="panel-body">
      <h1>Profil connecte </h1><br>
          <div class="row">
            <div class="col-sm-5">
              <h3> Nom :</h3>
            </div>
            <div class="col-sm-7">
              <h3> {{currentUser.lastname}}</h3>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-5">
              <h3> Prenom :</h3>
            </div>
            <div class="col-sm-7">
              <h3> {{currentUser.firstname}}</h3>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-5">
              <h3> Identifiant :</h3>
            </div>
            <div class="col-sm-7">
              <h3> {{currentUser.username}}</h3>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-5">
              <h3> E-mail :</h3>
            </div>
            <div class="col-sm-7">
              <h3> {{currentUser.email}}</h3>
            </div>
          </div>
          <div class="form-group">
            <button [routerLink]="['/editprofile']" class="btn btn-primary">Modifier</button>
            <button [routerLink]="['/']" class="btn btn-link">Retour</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


