<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
        <a href="tournament">
          <h4>Tournois {{ tournament.id }}</h4>
        </a>
    </div>
    <div class="panel-body">
      {{dateFormate | date: 'dd/MM/yyyy'}}<br/>

      <div *ngIf="tournament.finished"> Terminé </div>

      <ng-template [ngIf]="tournament.open && !tournament.finished">
        <div> Ouvert </div>
        <br/>
        <div class="col-sm-6"> <a class="btn btn-primary">s'inscrire</a></div>
        <div *ngIf="currentUser.isadmin==true" class="col-sm-6"><a class="btn btn-primary">fermer</a></div>
      </ng-template>

      <div *ngIf="!tournament.finished && !tournament.open"> Fermé </div>
    </div>

  </div>
</div>
