﻿<div *ngIf="currentUser != null;then logged else notLogged"></div>
  <ng-template #logged>

    <app-tournament-list></app-tournament-list>
    <!--<div class="col-md-6 col-md-offset-3">-->
        <!--<h1>Bonjour {{currentUser.firstName}}!</h1>-->
        <!--<p>Vous êtes connecté au Ping-Pong de Maizières-lès-Metz</p>-->
        <!--<h3>Tout les utilisateurs enregistrés :</h3>-->
        <!--<ul>-->
            <!--<li *ngFor="let user of users">-->
              <!--&lt;!&ndash;Rajout de l'email à afficher&ndash;&gt;-->
                <!--{{user.username}} ({{user.firstName}} {{user.lastName}} {{user.email}})-->
                <!-- - <a (click)="deleteUser(user.id)">Delete</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<p><a  (click)="logout()" >Déconnexion</a></p>-->
    <!--</div>-->
  </ng-template>


  <ng-template #notLogged>
    <div class="container">
      <div class="panel panel-default">

        <div class="panel-body">
      <h1 style="margin-bottom: 25px; text-align: center;">Bienvenue !</h1>
          Ici vous pouvez consulter des tournois en ligne et même vous y inscrire !

        Il vous faut un compte pour ça, donc allez dans Inscription ! :)
        </div>
      </div>
    </div>
  </ng-template>


